body {  
	background-image : url("http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg");
	color : white;
	font-family : "Helvetica Neue";
}
p {
	font-size : 20;
}
ul {
	font-size : 20;
}
