body {  
	background-image : url("http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg");
	color : Purple;
	font-family : "Helvetica";
}
p {
	font-size : 20;
	color: Yellow;
	font-family : "Helvetica";
}
ul {
	font-size : 20;
	Color: Blue;
	font-family : "Comic Sans MS";
}
