body {  
	background-image : url("http://img.wallpaperstock.net:81/glows-in-the-dark-wallpapers_6959_1920x1200.jpg");
	color : white;
	font-family : "Helvetica";
	font-size : 18;
}
p {
	font-size : 18;
	font-family : "Helvetica";
}
ul {
	font-size : 18;
	font-family : "Helvetica";
}
